<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2015b2b2cseller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2016seller_01_09_new.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A64E3BAA1C408CFA004CDF94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64E3BC31C408CFA004CDF94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64E3BCE1C408CFB004CDF94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6EB05841C43892000F0FB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
